/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0.5px 0.5px #827f7f;
    color:white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

header {
    min-height: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/salat.jpg);
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.folder {
    min-height: 90px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0.5rem;
}

.bread {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/chlebicek.jpg);
    background-size: cover;
    background-position: center;
}

.pita {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/cizrna.jpg);
    background-size: cover;
    background-position: center;
}

.tacos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/tacos.jpg);
    background-size: cover;
    background-position: center;
}

.burger {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/burger.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-weight: 800;
    font-size: 1.75rem;
    margin: 0;
}

h2 {
    font-weight: 800;
    font-size: 1.2rem;
    margin: 0;
}

.top {
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 480px) {

    header {
        min-height: 250px;
        padding: 1.25rem;
    }
    
    .container {
        flex-flow: wrap;
    }
    
    .folder {
        min-height: 150px;
        width: 50%;
        padding: 1.25rem;
    }
        
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    .pita {
        order: 2;
    }

    .tacos {
        order: 1;
    }

    .burger {
        order: 2;
    }

}

@media (min-width: 860px) {

    .recipes {
        display: flex;
    }

    header {
        min-height: 400px;
    }
    
    .folder {
        min-height: 200 px;
    }
        
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
}